.wrapper {
  width: 100%;
  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
  }
  .column-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .add-wrapper {
    padding: 10px;
  }
}
