<div class="wrapper flex-column">
  <app-header></app-header>
  <div class="content">
    <app-board-menu></app-board-menu>
    <div>
      <form
        action=""
        [formGroup]="boardNameForm"
        [class.err_on_submit]="errorOnsubmit"
        (ngSubmit)="onBlurMethod()"
      >
        <input
          type="text"
          name="title"
          formControlName="title"
          (blur)="onBlurMethod()"
        />
        <input type="submit" hidden />
        <button type="button" (click)="delBoardHandler()">Del</button>
      </form>
      <div>board content</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
