<div>
  <form
    [formGroup]="newBoardForm"
    (ngSubmit)="formSubmit()"
    class="flex-column"
  >
    <div class="flex-row">
      <input
        type="text"
        class="input-text"
        name="title"
        formControlName="title"
        required
      />
      <button class="btn btn-text" style="background-color: red;" [mat-dialog-close]="false">{{ auth.lang === 'ru' ? 'Отменить' : 'Cancel' }}</button>
      <button class="btn btn-text">{{ auth.lang === 'ru' ? 'Добавить' : 'Add' }}</button>
    </div>
    <ng-container
      *ngIf="
        (title!.invalid && title!.dirty) || errorOnsubmit
      "
    >
      <span *ngIf="title!.errors?.['required']"
        >{{ auth.lang === 'ru' ? 'Пожалуйста, введите имя доски' : 'Please enter board name' }}</span
      >
    </ng-container>
  </form>
</div>
