<div class="wrapper">
  <div class="content flex-column">
    <h2>{{ lang === 'ru' ? 'Вход' : 'Login' }}</h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="formSubmit()"
      class="flex-column"
      [class.err_on_submit]="errorOnsubmit"
    >
      <label class="flex-column">
        <span>{{ lang === 'ru' ? 'Электронная почта' : 'Email' }}</span>
        <input
          [ngClass]="{
            invalid:
              loginForm.get('login').invalid && loginForm.get('login').touched
          }"
          type="text"
          autocomplete="off"
          class="input-text"
          name="login"
          formControlName="login"
        />
        <ng-container
          *ngIf="
            (login!.invalid && (login!.touched || login!.dirty)) ||
            errorOnsubmit
          "
        >
          <span class="red-text" *ngIf="login!.errors?.['required']">{{
            lang === 'ru'
              ? 'Введите электронную почту'
              : 'Please enter a login email'
          }}</span>
          <span class="red-text" *ngIf="login!.errors?.['pattern']">{{
            lang === 'ru'
              ? 'Введите верную электронную почту'
              : 'The login email is invalid'
          }}</span>
        </ng-container>
      </label>
      <label class="flex-column">
        <span>{{ lang === 'ru' ? 'Пароль' : 'Password' }}</span>
        <input
          [ngClass]="{
            invalid:
              loginForm.get('password').invalid &&
              loginForm.get('password').touched
          }"
          type="password"
          autocomplete="off"
          class="input-text"
          name="password"
          formControlName="password"
          required
        />
        <ng-container
          *ngIf="
            (password!.invalid && (password!.touched || password!.dirty)) ||
            errorOnsubmit
          "
        >
          <span class="red-text" *ngIf="password!.errors?.['required']">{{
            lang === 'ru' ? 'Введите пароль' : 'Please enter a password'
          }}</span>
          <span class="red-text" *ngIf="password!.errors?.['minlength']"
            >{{
              lang === 'ru'
                ? 'Введите пароль более 8 символов'
                : 'Please enter a password at least 8 characters'
            }}
          </span>
        </ng-container>
      </label>
      <div class="wrap-btn">
        <button class="btn btn-back" [routerLink]="['/']">
          {{ lang === 'ru' ? 'Назад' : 'Back' }}
        </button>
        <button type="submit" class="btn" [disabled]="loginForm.invalid">
          {{ lang === 'ru' ? 'Отправить' : 'Submit' }}
        </button>
      </div>
    </form>
  </div>
</div>
