<div class="add-task">
  <ng-container *ngIf="!showAddTask; else elseTemplate">
    <div (click)="toggleNewTaskForm()">{{ auth.lang === 'ru' ? 'Добавить задачу' : 'Add task' }}</div>
  </ng-container>
  <ng-template #elseTemplate>
    <form
      [formGroup]="newTaskForm"
      (ngSubmit)="formSubmit()"
      class="flex-column"
    >
      <div class="flex-column">
        <input
          type="text"
          class="input-text"
          name="title"
          formControlName="title"
          (blur)="formSubmit()"
          required
        />
      <button class="btn btn-text" style="background-color: red;" [mat-dialog-close]="false">{{ auth.lang === 'ru' ? 'Отменить' : 'Cancel' }}</button>
      <button class="btn btn-text">{{ auth.lang === 'ru' ? 'Добавить' : 'Add' }}</button>
      </div>
      <ng-container
        *ngIf="
          (title!.invalid && (title!.touched || title!.dirty)) || (description!.invalid && (description!.touched || description!.dirty)) || errorOnsubmit
        "
      >
        <span *ngIf="title!.errors?.['required']"
          >{{ auth.lang === 'ru' ? 'Пожалуйста, введите имя колонки' : 'Please enter a column name' }}</span
        >
      </ng-container>
    </form>
  </ng-template>
</div>
