<div class="add-task">
  <ng-container *ngIf="!showAddTask; else elseTemplate">
    <div (click)="toggleNewTaskForm()">add task</div>
  </ng-container>
  <ng-template #elseTemplate>
    <form
      [formGroup]="newTaskForm"
      (ngSubmit)="formSubmit()"
      class="flex-column"
    >
      <div class="flex-column">
        <input
          type="text"
          class="input-text"
          name="title"
          formControlName="title"
          (blur)="formSubmit()"
          required
        />
      <button class="btn btn-text" style="background-color: red;" [mat-dialog-close]="false">{{ 'cancel' | titlecase }}</button>
      <button class="btn btn-text">{{ 'Добавить' | titlecase }}</button>
      </div>
      <ng-container
        *ngIf="
          (title!.invalid && (title!.touched || title!.dirty)) || errorOnsubmit
        "
      >
        <span *ngIf="title!.errors?.['required']"
          >Пожалуйста, введите имя колонки</span
        >
      </ng-container>
    </form>
  </ng-template>
</div>
