<div class="add-task">
    <form
      [formGroup]="newTaskForm"
      (ngSubmit)="formSubmit()"
      class="flex-column"
    >
      <div class="flex-column">
        <input
          type="text"
          class="input-text"
          name="title"
          formControlName="title"
          required
          placeholder="{{ auth.lang === 'ru' ? 'Название' : 'Title' }}"
        />
        <input
          type="text"
          class="input-text"
          name="description"
          formControlName="description"
          required
          placeholder="{{ auth.lang === 'ru' ? 'Описание' : 'Description' }}"
        />
      <button class="btn btn-text" style="background-color: red;" [mat-dialog-close]="false">{{ auth.lang === 'ru' ? 'Отменить' : 'Cancel' }}</button>
      <button class="btn btn-text">{{ auth.lang === 'ru' ? 'Добавить' : 'Add' }}</button>
      </div>
      <ng-container
        *ngIf="
          (title!.invalid && title!.dirty) || (description!.invalid && description!.dirty) || errorOnsubmit
        "
      >
        <span *ngIf="title!.errors?.['required']"
          >{{ auth.lang === 'ru' ? 'Пожалуйста, введите название задания' : 'Please enter a task name' }}</span
        >
        <span *ngIf="description!.errors?.['required']">{{ auth.lang === 'ru' ? 'Пожалуйста, введите описание колонки задания' : 'Please enter a task description' }}</span>
      </ng-container>
    </form>
</div>
