.item-wrapper {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  .board-title {
    display: flex;
    width: 200px;
    box-sizing: border-box;
  }
  &.active {
    color: #ff9800;
    padding-left: 10px;
    font-size: 26px;
    font-weight: 800;
    border: 1px solid transparent;
    text-decoration: solid;
    // border-color: rebeccapurple;
  }
}
