.wrap-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  padding: 0 20px;
}

.position-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
}

.logo{
  height: 50px;
  width: 50px;
}

.text-logo{
  color: white;
  font-size: 25px;
}

.registration-wrap{
  display: flex;
  gap: 20px;
  justify-content: end;
}

.btn-floating{
  background-color: #65a844;
}
