.wrap-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

.switch{
  display: flex;
  justify-self: end;
}
.switch label .lever {
  background-color: #fce3bd;
}

.switch label .lever:after {
  background-color: #ff9800;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #fce3bd;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #ff9800;
}

.position-logo{
  display: flex;
  align-items: center;
  gap: 5px
}

.logo{
  height: 50px;
  width: 50px;
}

.text-logo{
  color: black;
  font-size: 25px;
  font-weight: 900;
}

.registration-wrap{
  display: flex;
  gap: 20px;
}

.btn{
  background-color: #ff9800;
}

.sigh-in{
  color: black;
  background-color: white;
}

.wrap-video{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
  gap: 20px;
  .summary-video{
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    align-self: center;
    padding-right: 300px;
  }
}

.back-image{
  height: 500px;
  max-width: 100%;
  background: no-repeat;
  background-position: right top;
  background-image: url(/assets/back.png);
}

.wrap-persons{
  display: flex;
  padding: 0 20px;
  margin-bottom: 80px;
  text-align: center;
  justify-content: space-around;
  .person-max{
    border: solid 4px #ff9800;
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-image: url(/assets/img/person/Max.webp);
    background-size: 116%;
    border-radius: 50%;
  }
  .person-vlad{
    border: solid 4px #ff9800;
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-image: url(/assets/img/person/Vlad.webp);
    background-size: 448%;
    background-position-y: 34%;
    background-position-x: 50%;
    border-radius: 50%;
  }
  .person-dmitri{
    border: solid 4px #ff9800;
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-image: url(/assets/img/person/Dmitri.webp);
    background-size: 129%;
    background-position-y: 19%;
    background-position-x: 63%;
    border-radius: 50%;
  }
}

<<<<<<< HEAD
=======
.wrap-registration {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
>>>>>>> 7e00d73e488159b3f1c0871b279556ab6d2e5c08
