.wrap-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

main{
  min-height: 84%;
}
.position-logo{
  display: flex;
  align-items: center;
  gap: 5px
}

.logo{
  height: 50px;
  width: 50px;
}

.text-logo{
  color: black;
  font-size: 25px;
  font-weight: 900;
}

.registration-wrap{
  display: flex;
  gap: 20px;
}

.btn{
  background-color: #ff9800;
}

.sigh-in{
  color: black;
  background-color: white;
}

.wrap-video{
  margin: 20px 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  .video{
    width: 500px;
    height: 400px;
  }
  .summary-video{
    max-width: 400px;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    align-self: center;
  }
}

.back-image{
  background-size: 345px 500px;
  background: no-repeat;
  background-position: right top;
  background-image: url(/assets/back.png);
}

.wrap-persons{
  margin: 20px 0;
  display: flex;
  text-align: center;
  justify-content: space-around;
  .person-max{
    border: solid 4px #ff9800;
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-image: url(/assets/img/person/Max.webp);
    background-size: 116%;
    border-radius: 50%;
  }
  .person-vlad{
    border: solid 4px #ff9800;
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-image: url(/assets/img/person/Vlad.webp);
    background-size: 448%;
    background-position-y: 34%;
    background-position-x: 50%;
    border-radius: 50%;
  }
  .person-dmitri{
    border: solid 4px #ff9800;
    width: 200px;
    height: 200px;
    background: no-repeat;
    background-image: url(/assets/img/person/Dmitri.webp);
    background-size: 129%;
    background-position-y: 19%;
    background-position-x: 63%;
    border-radius: 50%;
  }
}

.wrap-toggle {
  display: flex;
  align-items: center;
  gap: 20px;
}


@media (max-width: 1024px) {
  .back-image{
    max-width: 100%;
    background-size: 300px 400px;
    background: no-repeat;
    background-position: right top;
    background-image: url(/assets/back.png);
  }

  .logo{
    height: 30px;
    width: 30px;
  }
  .text-logo{
    font-size: 16px;
  }
  .btn{
    padding: 0 5px;
  }
  .registration-wrap{
    display: flex;
    gap: 5px;
  }
  .wrap-toggle {
    gap: 5px;
  }

  .wrap-video{
    align-items: center;
    justify-content: center;
    grid-gap: 0;
    grid-template-columns: auto;
    .video{
      margin: 0 auto;
      width: 350px;
      height: 250px;
    }
    .summary-video{
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      align-self: center;
      padding: 0;
    }
  }
  .wrap-persons{
    display: flex;
    padding: 0 10px;
    .person-max{
      width: 150px;
      height: 150px;
    }
    .person-vlad{
      width: 150px;
      height: 150px;
    }
    .person-dmitri{
      width: 150px;
      height: 150px;
    }
  }
}

@media (max-width: 500px) {
  .center-position{
    display: grid;
    justify-items: center;
  }
  .btn{
    padding: 0;
    font-size: 12px;
  }
  .text-logo{
    font-size: 14px;
  }
  .wrap-header{
    height: 60px;
    padding: 0 5px;
  }
  .wrap-video{
    align-items: center;
    justify-content: center;
    grid-gap: 0;
    grid-template-columns: auto;
    .video{
      margin: 0 auto;
      width: 300px;
      height: 250px;
    }
    .summary-video{
      font-size: 16px;
    }
  }
  .wrap-persons{
    display: flex;
    padding: 0 10px;
    .person-max{
      width: 100px;
      height: 100px;
    }
    .person-vlad{
      width: 100px;
      height: 100px;
    }
    .person-dmitri{
      width: 100px;
      height: 100px;
    }
  }
}

