<div class="wrapper">
  <h2
    style="border: 1px solid #797979 ;"
    *ngIf="!isEditTaskActive; else editActive"
    (click)="onEditColumn()"
  >
    {{ columnInfo?.title }}
  </h2>
  <ng-template #editActive>
    <input
      (click)="updateCurrentColumn()"
      style="border: 1px dashed green"
      type="text"
      [(ngModel)]="editingTitle"
    />
    <button
      style="background-color: red; color: #fff"
      (click)="isEditTaskActive = !isEditTaskActive"
    >
      cancel
    </button>
    <button
      style="background-color: green; color: #fff"
      (click)="updateColumn()"
    >
      submit
    </button>
  </ng-template>

  <button
    style="background-color: red; color: #fff"
    mat-button
    (click)="onDeleteColumn()"
  >
    delete
  </button>
  <app-task [columnInfo]="columnInfo" *ngFor="let task of columnInfo.tasks" [task]="task"></app-task>
  <button mat-button (click)="onAddTask()">add task</button>
</div>
