<div class="wrapper">
  <h2
    style="border: 1px solid #797979"
    *ngIf="!isEditTaskActive; else editActive"
    (click)="onEditColumn()"
  >
    {{ columnInfo?.title }}
  </h2>
  <ng-template #editActive>
    <input
      (click)="updateCurrentColumn()"
      type="text"
      [(ngModel)]="editingTitle"
    />
    <button class="btn red" (click)="isEditTaskActive = !isEditTaskActive">
      {{ auth.lang === 'ru' ? 'Назад' : 'Back' }}
    </button>
    <button class="btn green" (click)="updateColumn()">
      {{ auth.lang === 'ru' ? 'Отправить' : 'Submit' }}
    </button>
  </ng-template>

  <button class="btn red" (click)="onDeleteColumn()">{{ auth.lang === 'ru' ? 'Удалить' : 'Delete' }}</button>
  <app-task
    [columnInfo]="columnInfo"
    *ngFor="let task of columnInfo.tasks"
    [task]="task"
  ></app-task>
  <button class="btn green" (click)="onAddTask()">{{ auth.lang === 'ru' ? 'Добавить' : 'Add task' }}</button>
</div>
