<div class="wrapper">
  <h2
    style="border: 1px solid #797979"
    *ngIf="!isEditTaskActive; else editActive"
    (click)="onEditColumn()"
  >
    {{ columnInfo?.title }}
  </h2>
  <ng-template #editActive>

    <form [formGroup]="editColumnForm" class="login-form" (ngSubmit)="updateColumn()">

      <input formControlName="columnTitle"
      style="border: 1px dashed green"
       type="text" placeholder="title" (blur)="updateColumn()" #input/>

      <button type="button"
      style="background-color: red; color: #fff"
      (click)="isEditTaskActive = !isEditTaskActive"
    >
      cancel
    </button>
    <button type="submit" type="submit" mat-button>Submit</button>
    </form>
  </ng-template>

  <button class="btn red" (click)="onDeleteColumn()">{{ auth.lang === 'ru' ? 'Удалить' : 'Delete' }}</button>
  <app-task
    [columnInfo]="columnInfo"
    *ngFor="let task of columnInfo.tasks"
    [task]="task"
  ></app-task>
  <button class="btn green" (click)="onAddTask()">{{ auth.lang === 'ru' ? 'Добавить' : 'Add task' }}</button>
</div>
