<footer class="footer">
  <div class="footer-row">
    <div class="logo-container footer-logo-container">
      <img class="logo-footer" src="./assets/svg/Rs.svg" alt="" />
      <p class="footer-logo-title">Managment</p>
    </div>
    <a class="footer-logo__rss" href="https://rs.school/js/" target="_blank"></a>
  </div>
  <div class="footer-row footer-github-username">
    <a class="github-username" href="https://github.com/Asindeton" target="_blank">Asindeton</a>
    <a class="github-username" href="https://github.com/Vlad48-star" target="_blank">Vlad48-star</a>
    <a class="github-username" href="https://github.com/debaev" target="_blank">debaev</a>
  </div>
  <div class="footer-row">
    <a class="github-username" href="/#team">About team</a>
    <p class="copyright">© 2022</p>
  </div>
</footer>
