.wrap-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-mat-menu{
  gap: 10px;
  display: flex;
}

mat-icon{
  background: center;
  width: auto;
  font-size: 45px;
  color:#ff9800;
}

.wrap-mat-menu{
  text-align: right;
}

button:hover{
  background-color: transparent;
}

button:focus {
  background-color: transparent;
}
