/* You can add global styles to this file, and also import other style files */
@import url(./reset.scss);

:root {
  --error-color: #eb5a46;
}
.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }
  &-column {
    display: flex;
    flex-direction: column;
  }
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 21.33%, rgba(255, 244, 229, 0.0001) 55.67%);
}
